* {
    background-image: none;
}

window {
    background-color: rgba(17, 17, 27, 0.85);
}

button {
    color: #b4befe;
    background-color: #313244;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    font-size: 1.5rem;
    animation: gradient_f 20s ease-in infinite;
}

button:hover#lock {
    background-color: #45465F;
    background-size: 25%;
    font-size: 1.875rem;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#logout {
    background-color: #45465F;
    background-size: 25%;
    font-size: 1.875rem;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#shutdown {
    background-color: #45465F;
    background-size: 25%;
    font-size: 1.875rem;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#reboot {
    background-color: #45465F;
    background-size: 25%;
    font-size: 1.875rem;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("/home/alphabril/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/alphabril/.config/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/home/alphabril/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/alphabril/.config/wlogout/icons/reboot.png"));
}
